src/main/mule/generate-uuid-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1374745b-d10a-44a3-bf78-bde978bb1b97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="generate-uuid-appFlow" doc:id="0e3357b5-ed19-473e-9a6a-c63f4d4a8266" >
		<http:listener doc:name="Listener" doc:id="4268a365-f96b-4ae7-9374-22da5b4b3bf1" config-ref="HTTP_Listener_config" path="employees"/>
		<set-variable value="#[payload.firstName ++ payload.lastName ++ payload.contact]" doc:name="Set Variable" doc:id="edb55699-dde5-4f88-8afc-4488497baaf3" variableName="key"/>
		<ee:transform doc:name="Transform Message" doc:id="99fd1a3f-afbb-48fc-b2e0-26e24f5abb00">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import java!com::pramati::generator::UUIDGenerator
output application/json
---
{
	key : UUIDGenerator::generateUUID(vars.key, 10)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
